{% extends "notes/base.html" %}
{% load static %}

{% block content %}
<div class="appbar">
  <img src="{% static 'notes/img/logo-getit.png' %}" class="logo"/>
  <span class="subtitle">Como o Post-it, mas com outro verbo</span>
</div>

<div class = "tags-container">
  <h1>
    TAGS LISTADAS
  </h1>
  {% for tag in tags %}
  <form class = "list-tags" method = "post" action = "/notes_per_tag">
    {% csrf_token %}
    <textarea name = "tag" class="tags" type="submit"> {{tag.name}} </textarea>
    <button class="tags" type="submit"> {{tag.name}} </button>
    {% endfor %}
</form>
</div>
{% endblock %}